/* --- BASE --- */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: #fff;
}

/* --- HERO --- */
.hero {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.85)),
    url("images/hero.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 4rem;
  letter-spacing: 4px;
}

.slogan {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #b5b5b5;
}

/* --- BUTTONS --- */
.hero-buttons {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  background: #ffffff;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  background: #cfcfcf;
}

.btn-outline {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.btn-outline:hover {
  background: #fff;
  color: #000;
}

/* --- INTRO --- */
.intro {
  padding: 80px 20px;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.intro h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
/* --- NAV LINKS FIX --- */
.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #b5b5b5;
}
.nav-logo {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 4px;
  color: #fff;
  margin-left: 20px;
}
